build/
langspec/,*
langspec/error-list.xml
langspec/examples/choose.txt
langspec/examples/exclude-pfx.txt
langspec/examples/exec-as1.txt
langspec/examples/exec-as2.txt
langspec/examples/file.txt
langspec/examples/filebin.txt
langspec/examples/for-each.txt
langspec/examples/group.txt
langspec/examples/identity.txt
langspec/examples/input-doc.txt
langspec/examples/input-port.txt
langspec/examples/input-select.txt
langspec/examples/pipeline-library.txt
langspec/examples/pipeline.txt
langspec/examples/simple-default.txt
langspec/examples/simple-explicit.txt
langspec/examples/trycatch.txt
langspec/examples/value-available.txt
langspec/examples/viewport.txt
langspec/examples/xinclude.txt
langspec/examples/xpathcontext.txt
langspec/examples/xquery.txt
langspec/examples/xslt-empty.txt
langspec/examples/xslt.txt
langspec/langspec.html
langspec/ns-c/,*
langspec/ns-c/ns-xproc-c-incl.xml
langspec/ns-c/xproc-step.html
langspec/ns-err/,*
langspec/ns-err/error-list.xml
langspec/ns-err/tmpl-error-list.xml
langspec/ns-err/xproc-error.html
langspec/ns-p/,*
langspec/ns-p/ns-tmpl-p-incl.xml
langspec/ns-p/ns-xproc-p-incl.xml
langspec/ns-p/xproc.html
langspec/pipeline-library.xml
langspec/schemas/steps.rnc
langspec/schemas/steps.rng
langspec/schemas/xproc.dtd
langspec/schemas/xproc.rng
langspec/schemas/xproc.xsd
langspec/schemas/xproc_dtd_2.ent
langspec/schemas/xproc_dtd_4.ent
langspec/schemas/xproc_xsd_2.frag
langspec/typed-pipeline-library.xml
schema/*.rng
