/build/

Overview.html
,*

langspec/xproc20/error-list.xml
langspec/xproc20/changelog.html
langspec/xproc20/diff.html
langspec/xproc20/pipeline-library.xml
langspec/xproc20/typed-pipeline-library.xml
langspec/xproc20/examples/choose.txt
langspec/xproc20/examples/exclude-pfx.txt
langspec/xproc20/examples/file.txt
langspec/xproc20/examples/filebin.txt
langspec/xproc20/examples/for-each.txt
langspec/xproc20/examples/group.txt
langspec/xproc20/examples/identity.txt
langspec/xproc20/examples/input-doc.txt
langspec/xproc20/examples/input-port.txt
langspec/xproc20/examples/input-select.txt
langspec/xproc20/examples/pipeline-library.txt
langspec/xproc20/examples/pipeline.txt
langspec/xproc20/examples/simple-default.txt
langspec/xproc20/examples/simple-explicit.txt
langspec/xproc20/examples/trycatch.txt
langspec/xproc20/examples/value-available.txt
langspec/xproc20/examples/viewport.txt
langspec/xproc20/examples/xinclude.txt
langspec/xproc20/examples/xpathcontext.txt
langspec/xproc20/examples/xslt-empty.txt
langspec/xproc20/examples/xslt.txt

langspec/xproc20-steps/changelog.html
langspec/xproc20-steps/diff.html
langspec/xproc20-steps/error-list.xml
langspec/xproc20-steps/examples/exec-as1.txt
langspec/xproc20-steps/examples/exec-as2.txt
langspec/xproc20-steps/examples/xquery.txt

langspec/ns-c/ns-xproc-c-incl-1.xml
langspec/ns-c/ns-xproc-c-incl-2.xml

langspec/ns-err/error-list-1.xml
langspec/ns-err/error-list-2.xml

langspec/ns-p/ns-xproc-p-incl-1.xml
langspec/ns-p/ns-xproc-p-incl-2.xml

langspec/schemas/steps.rnc
langspec/schemas/steps.rng
langspec/schemas/xproc.dtd
langspec/schemas/xproc.rng
langspec/schemas/xproc.xsd
langspec/schemas/xproc_dtd_2.ent
langspec/schemas/xproc_dtd_4.ent
langspec/schemas/xproc_xsd_2.frag

schema/*.rng
